body {
  background: linear-gradient(
    91.7deg,
    rgb(50, 25, 79) -4.3%,
    rgb(122, 101, 149) 101.8%
  );
  color: #fff;
}
.container {
  margin: 120px auto;
  max-width: 600px;
}
header {
  margin-bottom: 30px;
}
h1 {
  text-align: center;
  font-size: 40px;
  line-height: 1.5;
}
main {
  margin-bottom: 30px;
}
form {
  padding: 30px;
  background-color: #fff;
  margin-bottom: 30px;
  border-radius: 5px;
}
.prompt {
  padding: 16px;
  width: 70%;
  font-size: 15px;
  border-radius: 15px;
  border: 1px solid rgb(162, 168, 211, 0.6);
}
.submit-button {
  background: linear-gradient(to right, #434343 0%, black 100%);
  color: #fff;
  padding: 16px;
  border-radius: 15px;
  width: 100px;
}
.answer {
  background: #fff;
  color: #000000;
  padding: 20px;
}
footer {
  text-align: center;
  font-size: 17px;
  line-height: 1.5;
}
a {
  color: #7dd87d;
}
