body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/137/691/original/mayer-1.jpg?1722979018");
}
.container {
  margin: 70px auto;
  max-width: 650px;
  padding: 30px;
}
header {
  margin-bottom: 30px;
}
h1 {
  text-align: center;
  font-size: 40px;
  line-height: 1.5;
  font-family: "Special Elite", system-ui;
  font-weight: bold;
  font-style: normal;
  text-shadow: -7px 10px 25px rgba(242, 9, 14, 1);
  color: #f2090e;
}
main {
  margin-bottom: 30px;
}
.form-container {
  border: 7px double rgba(240, 14, 17, 0.5);
  border-radius: 15px;
  box-shadow: 6px -1px 28px 9px rgba(255, 0, 0, 0.2);
  padding: 20px;
  color: #000000;
  margin-bottom: 20px;
}
form {
  display: flex;
}
.instruction {
  background: linear-gradient(
    115deg,
    rgb(0, 0, 0) 5.8%,
    rgb(178, 14, 14) 112.6%
  );
  padding: 24px;
  width: 70%;
  font-size: 17px;
  color: #fff;
  border-radius: 15px;
  border: 1px solid #000000;
  margin: 10px;
  background: rgb(0, 0, 0, 0.7);
}
.submit-button {
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 17px;
  border: 1px solid #5c5757;
  border-radius: 30px;
  width: 100px;
}
.hint {
  color: #fff;
  opacity: 70%;
  text-align: center;
}
.answer {
  background: rgb(0, 0, 0, 0.4);
  border-left: 3px solid #ff0000;
  border-radius: 10px;
  font-family: "Nanum Gothic Coding", monospace;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  color: #fff;
  padding: 40px;
  margin: 20px auto;
}
.hidden {
  display: none;
}
.generate {
  animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

footer {
  margin-top: 10px;
  color: #fff;
  text-align: center;
  font-size: 15px;
  font-family: "Times New Roman", Times, serif;
  line-height: 1.5;
}
a {
  color: #ff0000;
}
